/* styles/FightPhase.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  margin: 0 10px;
}
